<% include partials/header %>


<div class="container">
    <H1>Tracker Page</H1>
    <a href="posts/new">New Time</a><br>
    <% dbdata.forEach((i)=>{ %>
        <div class="post-thumbnail">
            <h3><%= i.date %></h3>
            <p><%= i.start %> - <%= i.end %></p>
            <p><%= i.notes.substring(0,20) %>...</p>
            <p><%= i.timeString %></p>
            <div>
                <a href="/posts/<%= i._id %>">More Info</a>
            </div>
        </div>
    <% }) %>
        <div>
            <h3>
                Total Learning Time:
            </h3>
             <p> <%= overallData.overallString %></p>
        </div>
    </table>
    <hr>

</div>

<% include partials/footer %>



